body{
  margin:2%;
}
.image-class {
  float:right;
  margin-right: 12%;
}
.body{
  margin-left:25%;
  margin-top:10%;
}

#footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: aliceblue;
  font-size: 16px;
  padding: 1%;
}
#nav-bar{
  top: 0;
  position: absolute;
  width: 100%;
  padding: 1%;
  text-align: center;
  background-color:aliceblue;
}

